.div-flex {
    width: 50%;
    height: 500px;
    background-color: lightgray;
    display: flex;
    /* flex-direction: row ; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: ; */
    /* align-items: stretch; */
    /* align-content: center; */
    /* align-items: center; */
}

/* 居中 */
/* 
    display: flex;
    justify-content: center;
    align-items: center; 
*/

.div-flex-item {
    width: 100px;
    height: 100px;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 1%; */
    /* flex: 1 1 auto; */
    flex: none;
}

.div-flex-item:nth-child(odd) {
    background-color: lightpink;
    /* order: 1; */
    /* flex-grow: 3;
    flex-shrink: 3; */
}

.div-flex-item:nth-child(even) {
    background-color: lightgreen;
    /* order: 2; */
    /* flex-grow: 1;
    flex-shrink: 1; */
}