/* h4 {
    text-align: center;
} */

.mydiv {
    /* text-align: right;
    text-align: left;
    text-align: justify; */
    background-color: lightblue;
}
/* 子标签会继承父标签 */

a {
    text-decoration: none;
}

.mydiv > p:nth-child(1) {
    text-shadow: 5px 5px 2px grey,
        5px -5px 2px red;

    font-size: 2rem;

    font-style: italic;

    font-weight: 900;

    font-family:  fantasy;


    background-color: lightblue;
    background-image: url(/images/gem1.jpg);
    background-size: 50px;
    /* background-repeat: no-repeat; */

    background-repeat: no-repeat;
}

p {
    text-shadow: 5p 5px 2px grey,
    5px -5px 2px red;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

table {
    border-style: solid;
    border-collapse: separate;
}


td {
    border-style: solid;
    width: 20px;
    height: 20px;
}


div {
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}